body{
    text-align: center;
}
.steps-align{
    text-align: left;
}
h1{
    background-color: blueviolet;
    color: white;
    font-family: 'Helvetica',sans-serif;
    font-weight: bold;
    font-size: 56px;
}

h2{
    color: white;
    background-color: rgba(40, 79, 255, 0.4);
    font-size: 32px;
    font-family: "Courier New";
}

p , li{
    font-size: 18px;
}
